/* src/components/ForgotPassword.css */
.ForgotPasswordContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
  
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
}

.ForgotPasswordTitle {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.ForgotPasswordInfo {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.ForgotPasswordForm {
    display: flex;
    flex-direction: column;
}

.ForgotPasswordLabel {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.ForgotPasswordInput {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ForgotPasswordButton {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ForgotPasswordButton:hover {
    background-color: #0056b3;
}

.ForgotPasswordMessage {
    font-size: 14px;
    color: #28a745;
    margin-top: 10px;
}
