/* src/components/ResetPassword.css */
.ResetPasswordContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
 
}

.ResetPasswordTitle {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.ResetPasswordForm {
    display: flex;
    flex-direction: column;
}

.ResetPasswordLabel {
    margin-bottom: 5px;
}

.ResetPasswordInput {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ResetPasswordMessage {
    margin: 10px 0;
    color: red;
    text-align: center;
}

.ResetPasswordButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ResetPasswordButton:hover {
    background-color: #45a049;
}
