

/* ----------------------boxes------------ */
.FourthRowGraphBox4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 
    width: 100%;
   /* margin-top: 13px; */
}

/* Box 1 styling (first box) */
.BoxFourthRow4 {
    flex: 1; /* Box 1 will take 3 parts of the available space */
    height: 280px;
    background: #E3F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .BoxFourthRow4 {
        width: 100%; /* Full width on small screens */
        height: auto; /* Adjust height automatically */
    }

    .FourthRowGraphBox4 {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
    }
}