/* App.css */

/* html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Box1 {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #f9f9f9;
  } */
  
  /* .chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  